nav{
	color: black;
	background-color: transparent;
}
#logo{
    width: 30px;
    height: 30px;
}

#profile{
	width: 300px;
	height: 300px;
}
#project1{
	width: 300px;
	height: 300px;
}


